* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 14px;
  color: #444;
  text-align: center;
  line-height: 1.6;
}

p {
  text-align: left;
  padding: 15px;
  line-height: 1.7;
}

span{
  font-style: italic;
}

.contact-bar {
  background-color: #cce8de;
  padding: 15px 0 15px 0; 
}

h5 {
  text-align: left;
  padding-left: 20px;
}

.description {
  text-align: center;
}

.sources {
  text-align: center;
}

nav,
footer {
  padding: 1% 0;
}

footer {
  background-color:#5AAC8F;
  padding: 10px 0 10px 0; 
  bottom: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 30px;
  margin-top: 30px;
}

nav ul {
  padding: 0;
  margin: 0;
  margin-bottom: 30px; 
}

.nav-links {
  text-align: center;
  list-style: none;
  display: inline-block;
  padding-right: 40px;
  padding-left: 40px;
}

.contact-links {
  list-style: none;
  display: inline-block;
  width: 32%;
}

.projects a {
  padding-right: 20px;
  padding-left: 20px;
}

.pic-of-me {
  border-radius: 50%;
  width: 200px;
  height: 200px;
} 

.quiz-app-pic {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .pic-of-me {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  } 

  .contact-bar {
    width: 50%;
    margin: auto;
    background-color: #cce8de;
    padding: 15px 0 15px 0; 
  }

  .about-me {
    width: 50%;
    margin: auto;
  }

  .projects {
    width: 50%;
    margin: auto;
  }

  .nav-links {
    text-align: center;
    list-style: none;
    display: inline-block;
    padding-right: 90px;
    padding-left: 90px;
  }
};